body{
   background-image: url('111.jpeg');
    width: 60%;
    border: 15px solid rgb(176, 175, 233);
    padding: 10px;
    padding-bottom: 7em;
    margin: auto;
}


#heading{
    text-align: center;
    text-decoration-color: white;
    color: white;
}

#front-table{
    margin: auto;
    width: 80%;
    padding: 10px;
    padding-left: 250px;
    color: white;
}

#table{
    margin: auto;
    height: 180px;
    align-items: center;
    padding: 10px;
    padding-left: 180px;
}

#Instructions{
    display: inline-block;
    text-align: left;
    color: white;
    font-size: 1em;
    
}

#tab{
    width:400px;
    text-align: center;
}
